body {
  font-family: sans-serif;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 300px;
  padding: 18px 20px;
  border-radius: 15px;
  background-color: hsl(216, 50%, 16%);
}

.product {
  display: flex;
  justify-content: space-between;
}

.el--2,
.el--4 {
  color: hsl(215, 51%, 70%);
  opacity: 0.5;
  line-height: 20px;
}

.el--3 {
  color: hsl(178, 100%, 50%);
}

.el--5 {
  color: hsl(215, 51%, 70%);
  opacity: 0.5;
  margin-left: 20px;
}
.main-pic {
  max-width: 100%;
  border-radius: 10px;
}

.etherium {
  display: inline-block;
  margin-right: 5px;
}

.clock {
  display: inline-block;
  margin: 5px 5px;
}

.product-child {
  display: flex;
  align-items: center;
}

.product-second-child {
  display: flex;
  align-items: center;
}

.last-img {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #fff;
  height: 30px;
  width: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: hsl(178, 100%, 50%);
}

.f-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 20px;
}

.s-link {
  margin-left: 10px;
}
